<!DOCTYPE html>
<html>
    <head>
        <title>Random Excerpts</title>
    </head>
    <br><br>
    <body>
        <h1 style="color:blue; font-family:'alpha geometrique', fantasy; text-align:center">
          <a href={{book_link}}>{{book_title}}</a></h1>
          
        <h2 style="font-family:monospace; text-align: center">{{book_author}}</h2><br>

        <div>
            <p style="font-family:courier">{{book_text}}</p>
        </div><br>

        <footer>
          <p style="color:green; text-align:center">
            Source: Project Gutenberg
          </p>
        </footer>
    </body>
</html>