<html><head></head><body><div id="index_hype_container" class="HYPE_document" style="margin: auto; position: relative; width: 1024px; height: 768px; overflow: hidden; transform-style: flat; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" hyp_dn="index">
	<script type="text/javascript" charset="utf-8" src="index.hyperesources/index_hype_generated_script.js?41527"></script>
	<div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>

	<div class="HYPE_scene" id="hype-scene-EBXPF8YO2KN8U0F48VRR" hype_scene_index="0" style="background-color: rgb(95, 17, 216); display: none; overflow: hidden; position: absolute; width: 320px; height: 568px;">
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="book_title" hype_scene_index="0" style="pointer-events: auto;">
				{{book_title}}<br>
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="author_name" hype_scene_index="0" style="pointer-events: auto;">
				{{author_name}}
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="book_text" hype_scene_index="0" style="pointer-events: auto;">
				{{book_text}}
			</div>
		</div>
	</div>

	<div class="HYPE_scene" id="hype-scene-OL4XCBIIX7L35DZ0SQ0O" hype_scene_index="1" aria-hidden="true" style="background-color: rgb(95, 17, 216); display: none; overflow: hidden; position: absolute; width: 768px; height: 1024px;">
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="hype-obj-8MV1YTW8FZRVXMPAMHEL" hype_scene_index="1" style="pointer-events: auto;">
				{{book_title}}<br>
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="hype-obj-D3CXFL8M2TIWVVTOQBUM" hype_scene_index="1" style="pointer-events: auto;">
				{{author_name}}
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;">
			<div class="HYPE_element" id="hype-obj-0B7WL38RFDMJHSFIDM45" hype_scene_index="1" style="pointer-events: auto;">
				{{book_text}}
			</div>
		</div>
	</div>

	<div class="HYPE_scene" id="hype-scene-8HJ7VQA866S7WOVL5QMZ" hype_scene_index="2" style="background-color: rgb(95, 17, 216); display: block; overflow: hidden; position: absolute; width: 1024px; top: 0px; left: 0px; height: 768px; transform-origin: 50% 50%; z-index: 1; opacity: 1;">
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 1;">
			<div class="HYPE_element" id="hype-obj-OGQ7SE8HYUOSHNZ2J5E0" hype_scene_index="2" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(254, 254, 254); display: inline; font-family: Chalkduster, Papyrus, fantasy; font-size: 64px; font-style: italic; overflow-wrap: break-word; overflow: visible; z-index: 1; width: 840px; height: 111px; transform-origin: 50% 50%; transform: translateX(84px) translateY(16px) rotateY(0deg);">
				{{book_title}}<br>
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 2;">
			<div class="HYPE_element" id="hype-obj-ZO735V6HW7M6PBJX8MTF" hype_scene_index="2" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(255, 255, 255); display: inline; font-family: Copperplate, sans-serif; font-size: 48px; overflow-wrap: break-word; overflow: visible; z-index: 2; text-align: right; width: 708px; height: 88px; transform-origin: 50% 50%; transform: translateX(182px) translateY(167px) rotateY(0deg);">
				{{author_name}}
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 3;">
			<div class="HYPE_element" id="hype-obj-YJVI0Y07TOS3ZV0GDTZC" hype_scene_index="2" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(0, 0, 0); display: inline; font-family: Helvetica, Arial, sans-serif; font-size: 36px; font-style: normal; overflow-wrap: break-word; overflow: visible; z-index: 3; text-align: left; width: 584px; height: 406px; transform-origin: 50% 50%; transform: translateX(212px) translateY(287px) rotateY(0deg);">
				{{book_text}}
			</div>
		</div>
	</div>
	<div class="HYPE_scene" id="hype-scene-0NBUMMT0HJJX3S5HQKR0" hype_scene_index="3" style="background-color: rgb(95, 17, 216); display: none; overflow: hidden; position: absolute; width: 1200px; top: 0px; left: 0px; height: 1200px; transform-origin: 50% 50%; z-index: 0; opacity: 1;" aria-hidden="true">
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 1;">
			<div class="HYPE_element" id="hype-obj-SQSHPAV6HUYKPKWNG54M" hype_scene_index="3" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(254, 254, 254); display: inline; font-family: Chalkduster, Papyrus, fantasy; font-size: 72px; font-style: italic; overflow-wrap: break-word; overflow: visible; z-index: 1; width: 744px; height: 232px; transform-origin: 50% 50%; transform: translateX(62px) translateY(26px) rotateY(0deg);">
				{{book_title}}<br>
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 2;">
			<div class="HYPE_element" id="hype-obj-1727API3VGUR9IITQ9II" hype_scene_index="3" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(255, 255, 255); display: inline; font-family: Copperplate, sans-serif; font-size: 64px; overflow-wrap: break-word; overflow: visible; z-index: 2; text-align: right; width: 934px; height: 170px; transform-origin: 50% 50%; transform: translateX(125px) translateY(257px) rotateY(0deg);">
				{{author_name}}
			</div>
		</div>
		<div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 3;">
			<div class="HYPE_element" id="hype-obj-I8IGZGAVIZNOWLHGOCRQ" hype_scene_index="3" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(0, 0, 0); display: inline; font-family: Georgia, Times, &quot;Times New Roman&quot;, serif; font-size: 48px; font-style: normal; overflow-wrap: break-word; overflow: visible; z-index: 3; text-align: left; width: 676px; height: 497px; transform-origin: 50% 50%; transform: translateX(254px) translateY(443px) rotateY(0deg);">
				{{book_text}}
			</div>
		</div>
	</div>
</div>
</body></html>