<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="index_hype_container" class="HYPE_document" style="margin: auto; position: relative; width: 320px; height: 568px; overflow: hidden; transform-style: flat; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" hyp_dn="index">

      <script type="text/javascript" charset="utf-8" src="index.hyperesources/index_hype_generated_script.js?7825"></script>

      <div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>

      <div class="HYPE_scene" id="hype-scene-0SO2B95DJT9JM5HNZIUT" hype_scene_index="0" style="background-color: rgb(95, 17, 216); display: block; overflow: hidden; position: absolute; width: 320px; top: 0px; left: 0px; height: 568px; transform-origin: 50% 50%; z-index: 1; opacity: 1;">
        <div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 1;">
          <div class="HYPE_element" id="book_title" hype_scene_index="0" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(254, 254, 254); display: inline; font-family: Chalkduster, Papyrus, fantasy; font-size: 24px; font-style: italic; overflow-wrap: break-word; overflow: visible; z-index: 1; width: 191px; height: 44px; transform-origin: 50% 50%; transform: translateX(16px) translateY(32px) rotateY(0deg);">{{book_title}}<br>
          </div>
        </div>
      <div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 2;">
          <div class="HYPE_element" id="author_name" hype_scene_index="0" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(255, 255, 255); display: inline; font-family: Copperplate, sans-serif; font-size: 24px; overflow-wrap: break-word; overflow: visible; z-index: 2; text-align: right; width: 141px; height: 18px; transform-origin: 50% 50%; transform: translateX(120px) translateY(108px) rotateY(0deg);">{{author_name}}</div>
      </div>
      <div class="HYPE_element_container" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 3;">
        <div class="HYPE_element" id="book_text" hype_scene_index="0" style="pointer-events: auto; position: absolute; padding: 8px; color: rgb(0, 0, 0); display: inline; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; overflow-wrap: break-word; overflow: visible; z-index: 3; text-align: center; width: 230px; height: 256px; transform-origin: 50% 50%; transform: translateX(37px) translateY(169px) rotateY(0deg);">{{book_text}}</div>
      </div>
    </div>
  </body>
</html>
