<!DOCTYPE html>
<html>
    <head>
        <title>Random Excerpts</title>
    </head>
    <body>
        <h1 style="color: blue;font-family: fantasy;text-align: center">{{book_title}}</h1>
        <h2 style="font-family: monospace;text-align: center">{{book_author}}</h2>
        <br>
        <div>
            <li style="font-family=courier">{{book_text}}</li>
        </div>
        <footer>
          <p>
            <a href={{book_link}}>Link to Full Book</a>
            <br>Source: Project Gutenberg
          </p>
        </footer>
    </body>
</html>
